.sidenav-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    width: 250px;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.sidenav a {
    color: #333;
    transition: background-color 0.3s;
}

.sidenav a:hover {
    background-color: #e0e0e0;
}

.sidenav a.active {
    background-color: #3f51b5;
    color: white;
}

.sidenav a.active mat-icon {
    color: white;
}

mat-sidenav-content.no-sidebar {
    padding: 20px;
    margin-inline-start: 0;
}

mat-sidenav-content {
    padding: 20px;
    height: 100%;
    overflow: auto;
    /* Enable scrolling */
    display: flex;
    flex-direction: column;
}